.App {
  text-align: center;
}

.App-logo {
  height: 30px;
  pointer-events: none;
  fill: red !important;
}

.App-link {
  color: #61dafb;
}

.searchbar-btn,
.searchbar-search {
  border-color: rgb(230, 230, 230) !important;
  background-color: #ffffff !important;
  padding: 12px 15px;
  color: rgb(113, 113, 113);
  font-size: 13px !important;
  font-weight: bold;
  width: 50% !important;
}

.price-card {
  padding: 0px !important;
}

.check-group {
  width: 100%;
}

.check-btn,
.guests-btn {
  border-color: rgb(190, 190, 190) !important;
  background-color: #ffffff !important;
  padding: 12px 15px;
  color: rgb(113, 113, 113);
  font-size: 13px !important;
  font-weight: bold;
}

.searchbar-group {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px !important;
  border-radius: 12px !important;
  width: 100%;
}

.searchbar-group:hover {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 8px !important;
  color: rgb(34, 34, 34);
}

.brand-logo {
  color: red !important;
  font-weight: 600 !important;
  letter-spacing: -0.05em;
}

.signup-btn {
  -moz-box-align: center !important;
  -moz-appearance: none !important;
  background: rgb(255, 255, 255) none repeat scroll 0% 0% !important;
  border: 1px solid rgb(235, 235, 235) !important;
  cursor: pointer !important;
  display: inline-flex !important;
  font-family: inherit !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  line-height: 18px !important;
  outline: currentcolor none medium !important;
  overflow: visible !important;
  padding: 0px 16px !important;
  text-align: inherit !important;
  align-items: center !important;
  border-radius: 21px !important;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px !important;
  height: 42px !important;
  transition: box-shadow 0.2s ease 0s !important;
  color: rgb(34, 34, 34) !important;
  margin-left: 0.5rem !important;
}

.signup-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 8px !important;
}

.navlink-btn {
  -moz-appearance: none !important;
  cursor: pointer !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  padding: 12px !important;
  z-index: 1 !important;
  color: rgb(34, 34, 34) !important;
  border-radius: 21px !important;
  margin-left: 0.5rem !important;
}

.navlink-btn:hover,
.navlink-dropdown:hover {
  background-color: rgb(247, 247, 247) !important;
}

.navlink-dropdown {
  -moz-appearance: none !important;
  cursor: pointer !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  padding: 5px !important;
  z-index: 1 !important;
  color: rgb(34, 34, 34) !important;
  border-radius: 21px !important;
}

.dropdown-menu {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px !important;
  border: none !important;
}

.nav-menu .dropdown-item:active,
.nav-menu .dropdown-item.active {
  background-color: #f1f1f1;
  color: black;
}

.default-icon {
  height: 17px;
  width: auto !important;
}

.sidebar-item {
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
  width: 100%;
  height: 100%;
}

.sticky-item {
  position: -webkit-sticky;
  position: sticky;
  top: 80px !important;
}

.nav-menu {
  padding: 1rem 0 !important;
}

.box-container {
  margin: 0px !important;
  max-width: none !important;
}

.pad-0 {
  padding: 0px 0px !important;
}

/* PROPERTIES */
.prop-type {
  font-weight: 300;
  padding: 7px;
}

.prop-title {
  font-weight: 400;
  padding: 7px;
}

.prop-description {
  font-weight: 300;
  padding: 7px;
}

.prop-review {
  padding: 7px;
  font-weight: 300;
}

.prop-price {
  padding: 7px;
  margin-top: 1.5em;
}

.search-info {
  padding: 3em 1em;
}

.detail-header {
  padding: 0.5em 1em;
}

.filter-button {
  font-size: 14px;
  font-weight: 300;
  border-radius: 20px;
  padding: 5px 18px;
  border: 2px;
  border-style: solid;
  border-color: rgb(206, 206, 206);
  display: inline-block;
  background-color: #ffffff;
  cursor: pointer;
  margin-right: 5px;
  text-decoration: none;
  color: black;
}

.filter-button:hover {
  border: 2px;
  border-style: solid;
  border-color: rgb(117, 117, 117);
  text-decoration: none;
  color: black;
}

footer {
  background-color: #f1f1f1;
  padding-top: 2em;
  margin-top: 1em;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  font-weight: 300;
  margin: 6px 0px;
}

.star-review {
  height: 15px;
}

.property-img {
  border-radius: 5px;
}

.navbar-container {
  width: 100% !important;
  padding: 0px !important;
  margin: 0px !important;
  max-width: 99% !important;
}

.single-result:hover {
  cursor: pointer;
}

.main-gallery-photo {
  border-radius: 10px 0px 0px 10px;
}

.more-photos-btn {
  margin-right: 1em;
  border-radius: 9px;
  cursor: pointer;
  background-color: #f1f1f1;
  border: 1px solid;
  border-color: #c7c7c7;
  padding: 0.5em 1em;
  font-size: 12px;
  text-align: center;
  position: absolute;

  bottom: 1em;
  right: 1em;

  z-index: 999 !important;
}

.more-photos-btn:active {
  font-size: 11.5px;
}

.photo-detail-gallery {
  position: relative;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.guests-btn {
  width: 100%;
}

.reserve-btn,
.reserve-btn:hover,
.reserve-btn:active {
  background-color: #dd1f65 !important;
  color: #ffffff !important;
  margin-top: 1em;
  border-radius: 10px;
  padding: 0.5em 0em;
}

.reserve-btn:active {
  font-size: 0.8rem;
}

.price-before {
  text-decoration: line-through;
}

.arrangement-img {
  height: 25px;
  width: 25px;
}
